<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="UTF-8">

    <title>SmartLab OS</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    
<div class="container mt-4">
<div class="d-flex justify-content-between align-items-center">

        <h2>
            SmartLab OS
        </h2>

        <button class="btn btn-primary">

            + Thêm máy tính

        </button>
</div>
        <small class="text-muted">
            Computer Management System
        </small>

<div class="card mt-4">

    <div class="card-header">

        <h4 class="mb-0">
            Danh sách máy tính
        </h4>

    </div>

<div class="card-body">

    <div class="table-responsive">

    <table class="table table-striped table-hover table-bordered">

        <thead class="table-dark">

        <tr>
            <th>SmartLab ID</th>
            <th>Phòng</th>
            <th>IP Address</th>
            <th>MAC Address</th>
            <th>CPU</th>
            <th>RAM</th>
            <th>Windows</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for computer in computers %}

        <tr>
            <td>{{ computer.computer_name }}</td>
            <td>{{ computer.room }}</td>
            <td>{{ computer.ip_address }}</td>
            <td>{{ computer.mac_address }}</td>
            <td>{{ computer.cpu }}</td>
            <td>{{ computer.ram_gb }}</td>
            <td>{{ computer.windows_version }}</td>
            <td>

                {% if computer.status == "Offline" %}

                    <span class="badge bg-danger">
                        Offline
                    </span>

                {%elif computer.status == "Online" %}
                    <span class="bagde bg-success">
                        
                        Online

                    </span>

                {% elif computer.status == "Maintenance" %}

                    <span class="badge bg-warning text-dark">

                        Maintenance

                    </span>

                {% else %}

                    <span class="badge bg-secondary">

                        {{ computer.status }}

                    </span>

                {% endif %}

            </td>

        </tr>

        {% endfor %}
        </tbody>    
    </table>
    </div>
</div>
</div>

</body>

</html>