<!DOCTYPE html>
<html>

<head>
    <title>SmartLab OS</title>
</head>

<body>

<h1 style="color:red">
    SMARTLAB TEST 999999
</h1>

<form action="/scan" method="POST" style="margin-bottom:20px;">

    <button type="submit">

        🔍 Scan Network

    </button>

</form>

<table border="1" cellpadding="8">

    <tr>
        <th>ID</th>
        <th>Computer</th>
        <th>IP</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for computer in computers %}

    <tr>

        <td>{{ computer.id }}</td>
        <td>{{ computer.computer_name }}</td>
        <td>{{ computer.ip_address }}</td>
        <td>{{ computer.status }}</td>

        <td>

            {% if computer.status == "Online" %}

                <!-- Shutdown -->
                <form action="/shutdown" method="POST" style="display:inline;">

                    <input
                        type="hidden"
                        name="computer_id"
                        value="{{ computer.id }}"
                    >

                    <button
                        type="submit"
                        onclick="return confirm('Bạn có chắc muốn Shutdown máy này?')">

                        🟥 Shutdown

                    </button>

                </form>

                <!-- Deploy -->
                <form action="/deploy" method="POST" style="display:inline;">

                    <input
                        type="hidden"
                        name="computer_id"
                        value="{{ computer.id }}"
                    >

                    <button
                        type="submit">

                        📦 Deploy Agent

                    </button>

                </form>

            {% else %}

                -

            {% endif %}

        </td>

    </tr>

    {% endfor %}

</table>

</body>

</html>